.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.latest_sect {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
    .latest_title {
        font-size: 1.6rem;
    }

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.subheader {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.posts-list {
  list-style-type: none;
  padding: 0;
}

.post-item {
  margin-bottom: 20px;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-content {
  margin-bottom: 10px;
}

.post-username {
  font-style: italic;
}

